<!DOCTYPE html>
<html lang="en,ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ГБУ РО “Городская Больница №4”</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/style-zero.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="header__menu_top">
          <ul class="menu__list_top">
            <li class="menu__item_top">
              <a href="#" class="menu__link_top"
                >Информация по правам пациентов</a
              >
            </li>
            <li class="menu__item_top">
              <a href="#" class="menu__link_top">Портал ГОСУСЛУГИ</a>
            </li>
            <li class="menu__item_top">
              <a href="#" class="menu__link_top">Результаты СОУТ</a>
            </li>
            <li class="menu__item_top">
              <a href="#" class="menu__link_top">Противодействие коррупции</a>
            </li>
          </ul>
          <div class="header__icon"></div>
        </nav>
        <div class="header__contact">
          <div class="contact__item logo"></div>
          <div class="contact__item">
            <h1>ГБУ РО “Городская Больница №4”</h1>
          </div>
          <div class="contact__item">8 (863) 263-13-80</div>
          <div class="contact__item">8 (863) 263-50-64</div>
          <div class="contact__item">Версия для слабовидящих</div>
        </div>
        <nav class="heder__menu_bottom">
          <ul class="menu__list_bottom">
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Главная</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">О больнице</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Отделения</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Новости</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Задать вопрос</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Отзывы</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Запись на прием</a>
            </li>
            <li class="menu__item_bottom">
              <a href="#" class="menu__link_bottom">Контакты</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
  <footer></footer>
</html>
