@media(max-width: 1200px) {
    .header_container,
    .container {
        padding: 0px 10px;
    }
    .header_middle {
        .header_container {
            .site_identification {
                .logo_text-link,
                .header_phone i,
                .header_phone-link,
                .visually_impaired-link {
                    font-size: 16px;
                }
                .header_phone,
                .visually_impaired {
                    margin-left: 0;
                }
            }
        }
    }
    .header_bottom {
        .header_bottom_menu {
            .menu_list {
                gap: 10px;
            }
        }
    }
}

@media(max-width: 1260px) {
    .slick-prev {
        display: none !important;
    }
    .slick-next {
        display: none !important;
    }
}

@media(max-width: 1210px) {
    .twise-card {
        img {
            width: 400px;
            height: 300px;
        }
    }
}

@media(max-width: 840px) {
    .twise-card {
        img {
            width: 350px;
            height: 250px;
        }
    }
}

@media(max-width: 1024px) {
    .header_top {
        .header_top_menu {
            .menu_list {
                align-items: center;
                gap: 20px;
            }
        }
        .header_top_social {
            gap: 15px;
        }
    }
    .header_top {
        background-color: $light_blue;
        .header_container {
            gap: 10px;
            .header_top_menu {
                .menu_list {
                    gap: 20px;
                }
            }
        }
    }
    .header_middle {
        .header_container {
            .site_identification {
                .logo_text {
                    width: 154px;
                    .logo_text-link {
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1160px) {
    .header_bottom {
        .header_container {
            .header_bottom_menu {
                .menu_list {
                    gap: 10px;
                    .menu-item {
                        .menu_link {
                            span {
                                font-weight: 500;
                                // font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1040px) {
    .departmens_container {
        .departmens_body {
            gap: 20px;
        }
    }
    .contacts_body {
        .contacts_form {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media(max-width: 1140px) {
    .footer_menu {
        .menu_list {
            span {
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 960px) {
    .footer_menu {
        .menu_list {
            gap: 20px;
        }
    }
}

@media(max-width: 940px) {
    .other_right_column,
    .hospital_left_column {
        width: 50%;
    }
}

.departmens_container .departmens_body .other_right_column .other_office_items_nav {
    list-style: none;
}

@media(max-width: 900px) {
    .header_bottom {
        .header_container {
            .header_bottom_menu {
                .menu_list {
                    .menu-item {
                        .menu_link {
                            span {
                                font-weight: 500;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .departmens_container {
        .departmens_body {
            .other_right_column {
                .other_office_items_nav {
                    width: auto;
                }
            }
        }
    }
    .administration_paycheck {
        padding-left: 12px;
    }
}

// @media(max-width: 900px) {
//     .header_bottom {
//         .header_bottom_menu {
//             .menu_list {
//                 .menu-item {
//                     .menu_link {
//                         span {
//                             font-weight: 500;
//                             font-size: 15px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
@media(max-width: 1140px) {
    .for-flex {
        img {
            margin-left: 10px;
        }
    }
    .announcement_container {
        .announcement_text {
            padding-top: 0px;
        }
    }
}

@media(max-width: 850px) {
    .page_gosuslugi_container {
        img {
            width: 100%;
        }
    }
}

// otdelenia 
@media(max-width: 850px) {
    // .display-flex {
    //     margin-bottom: 100px !important;
    // }
    .display-flex {
        flex-wrap: wrap;
    }
}

//-------- slider important home page 
@media(max-width: 1024px) {
    .slider_background {
        // height: 38vw;
    }
}

@media(max-width: 767px) {
    .slider_background {
        // height: 40vw;
    }
}

@media(max-width: 1090px) {}

// ------------------------Header мобилка------------------
@media(max-width: 790px) {
    .header_container {
        width: 100% !important;
        justify-content: center !important;
    }
    .social_header {
        display: none !important;
    }
    // .logo_img {
    //     display: none;
    // }
    // .logo_img {
    //     img {
    //     width: 34px;
    //     height: 34px;
    //     }
    // }
    .site_identification {
        display: none !important;
    }
    .site_identification_mobil {
        min-height: 54px;
        margin: 0 8px;
        display: flex !important;
        align-items: center;
        .logo_img {
            margin-right: 5px;
            img {
                width: 34px;
                height: 34px;
            }
        }
        .logo_text {
            width: 100%;
            display: flex;
            align-items: center;
            a {
                color: $red;
                font-family: $font_opensans;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .visually_impaired_mobil {
            margin-right: 5px;
        }
        .header_phone_mobil {
            margin-right: 5px;
        }
    }
    .header_bottom {
        display: none;
    }
}

@media(max-width: 450px) {
    .site_identification_mobil {
        .logo_text {
            a {
                font-size: 10px;
            }
        }
    }
    .header_top_menu {
        span {
            font-size: 8px !important;
        }
    }
}

// --------------------Footer мобилка---------------------
@media(max-width: 767px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        .footer_general {
            min-height: 63px;
            align-items: center;
            gap: 10px;
            .logo_img {
                margin: 0;
                img {
                    width: 43px;
                    height: 43px;
                }
            }
            .logo_text {
                width: 100%;
                a {
                    color: $red;
                    font-family: $font_opensans;
                    font-size: 13.398px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
        .footer_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 19px;
            .menu_list {
                display: flex;
                justify-content: center;
                gap: 10px;
                .menu-item {
                    width: 33%;
                    // align-items: center;
                    // justify-content: center;
                    .menu_link {
                        span {
                            color: $footer_text;
                            font-family: $font_opensans;
                            font-size: 9px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}

// ------------------------Главная страница мобилка----------
@media(max-width: 767px) {
    .contacts_body {
        display: flex;
        flex-direction: column;
    }
    .news_body {
        .news_img {
            display: none;
        }
        .contacts_text {
            width: 100%;
        }
    }
}

@media(min-width: 767px) {
    .contacts_text {
        margin-right: 68px;
    }
}

@media(max-width: 400px) {
    .important_information {
        .slider_background {
            padding-top: 20px;
            // height: 190px;
        }
        .slick-dots {
            bottom: 30px;
            li button:before {
                font-size: 7px !important;
            }
        }
    }
}

@media (max-width: 725px) {
    .page_information_container {
        .tabs_block {
            .block_item {
                line-height: 1 !important;
            }
        }
    }
}

@media(max-width: 550px) {
    .contacts_body {
        .contacts_text {
            .contacts_line3,
            .contacts_line2,
            .contacts_line1 {
                .adress_left {
                    font-size: 14px !important;
                    .contacts_category-link {
                        font-size: 14px !important;
                    }
                }
                .adress_right {
                    font-size: 14px !important;
                }
            }
        }
    }
    // 
    .contacts_departs {
        .contacts_posts_items {
            .contacts_posts_items-link {
                font-size: 14px !important;
            }
        }
    }
    .important_information {
        .slider_background {
            padding-top: 20px;
            // height: 55vw;
            padding-bottom: 5px;
        }
        .slick-dots {
            bottom: 20px;
            li button:before {
                font-size: 7px !important;
            }
        }
    }
    .gallery {
        .slider_background_gallery {
            padding-top: 20px;
            height: 190px;
            .slick-dots {
                bottom: 20px;
                li button:before {
                    font-size: 7px !important;
                }
            }
        }
        .gallery_banner {
            .banner {
                height: 190px;
                margin-right: 22px;
                img {
                    height: 150px;
                    width: 225px;
                    border-radius: 10px;
                }
                &.slick-active {
                    width: 225px;
                }
            }
            .slick-prev {
                display: none;
            }
            .slick-next {
                display: none;
            }
        }
    }
    .hospital_left_mobil {
        display: block !important;
    }
    .hospital_left_desktop {
        display: none;
    }
    .other_right_mobil {
        display: block !important;
    }
    .other_right_desktop {
        display: none;
    }
    .departmens_body {
        gap: 5px !important;
        margin: 0 8px !important;
        .hospital_left_column,
        .other_right_column {
            padding-bottom: 5px !important;
            .hospital_subtitle,
            .other_office_subtitle {
                margin: 10px 0 9px 5px !important;
                .fanendoscope_img {
                    display: none;
                }
            }
            .hospital_items,
            .other_office_items {
                margin-left: 5px !important;
                li {
                    margin-bottom: 10px !important;
                }
            }
        }
    }
    .departmens_bottom {
        display: flex !important;
        margin: 21px 7px 12px 7px !important;
        justify-content: center;
        border-radius: 50px;
        background: linear-gradient(40deg, #E80B8B 0%, #FF8ED0 100%);
        padding: 11px 10px;
        .departmens_bottom_link {
            color: $white;
            text-align: center;
            /* Мобилка/Основной */
            font-family: $font_opensans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .departmens_title-link,
    .important_information_title-link,
    .news_title-link,
    .gallery_title-link,
    .contacts_title-link {
        // font-family: $font_opensans;
        font-size: 22px !important;
        margin: 25px 0px 10px 8px !important;
    }
    .hospital_subtitle-link,
    .other_office_subtitle-link,
    .fa-brands {
        font-size: 16px !important;
    }
    .hospital_items-link,
    .other_office_items-link,
    .news_posts_items-link,
    .adress_left,
    .adress_right,
    .contacts_departs {
        font-size: 14px;
    }
    .slider_background {
        // height: 80vw;
    }
    // -----Блок новости----------
    .news_body {
        margin: 0 8px !important;
    }
    .news_buttom {
        display: flex !important;
        justify-content: center;
        .news_buttom-link {
            width: 100%;
            color: $white;
            text-align: center;
            font-family: $font_opensans;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .contacts_body {
        .contacts_text {
            margin-left: 7px !important;
            margin-right: 7px !important;
        }
        .contacts_departs {
            margin-left: 15px !important;
            margin-right: 15px !important;
        }
    }
    .cf_wrapper {
        display: none !important;
    }
    .cf_wrapper_mobil {
        display: block !important;
    }
}

// ----О больнице mobilka-----
@media(max-width: 906px) {
    .block_row {
        .block_item {
            width: 30% !important;
        }
    }
    .about_slider_bottom {
        .slick-track {
            margin-left: 0 !important;
        }
    }
}

@media(max-width: 767px) {
    .about_title {
        font-size: 40px;
    }
    .subtitle_top,
    .subtitle_bottom {
        font-size: 25px;
    }
    .block_row {
        .block_item {
            font-size: 14px;
        }
    }
}

@media(max-width: 620px) {
    .about_image_block {
        flex-wrap: wrap;
        .about_image_item {
            flex-basis: 48%;
        }
    }
    .about_image_block {
        .about_image_item:nth-child(even) {
            margin-right: 0 !important;
        }
    }
    .block_row {
        flex-wrap: wrap;
        .block_item {
            width: 48% !important;
        }
    }
}

@media(max-width: 450px) {
    .block_row {
        .block_item {
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            max-height: 60px !important;
            padding-left: 39px !important;
            padding-right: 39px !important;
        }
    }
}

// -----------Администрация------
@media(max-width: 1034px) {
    .administration_paycheck_item {
        width: 32% !important;
        .block_item {
            font-size: 14px;
        }
    }
    .administration_paycheck {
        padding-left: 0 !important;
    }
}

@media(max-width: 907px) {
    .administration_paycheck_item {
        width: 48% !important;
    }
}

@media(max-width: 767px) {
    .administration_title {
        font-size: 40px;
    }
    .administration_text_subtitle {
        font-size: 25px;
    }
    .administration_text {
        font-size: 14px !important;
    }
    .administration_position_title,
    .administration_position_name {
        font-size: 22px !important;
    }
}

@media(max-width: 560px) {
    .administration_main {
        display: flex;
        flex-direction: column;
    }
    .administration_main_text {
        margin-left: 15px;
    }
}

@media(max-width: 500px) {
    .administration_position {
        display: flex;
        flex-direction: column;
    }
    .administration_position_content {
        margin-left: 15px;
    }
    .administration_paycheck_item {
        height: 72px !important;
        a {
            font-size: 10px !important;
            line-height: 15px !important;
        }
    }
    .administration_title {
        font-size: 35px;
    }
}

// -----------Вакансии----------------
@media(max-width: 1027px) {
    .vacancies_contact_item_top,
    .vacancies_contact_item_down {
        font-size: 14px !important;
    }
    .block1,
    .block2,
    .block3 {
        justify-content: center !important;
    }
}

@media(max-width: 767px) {
    .vacancies_contact_item {
        width: 49% !important;
        display: flex !important;
        flex-direction: column;
    }
    .vacancies_title {
        font-size: 40px;
    }
    .vacancies_block_title {
        font-size: 20px !important;
    }
    .vacancies_block_text {
        font-size: 14px !important;
    }
    .block1 {
        padding: 28px 20px !important;
    }
    .vacancies_data {
        display: none !important;
    }
}

@media(max-width: 519px) {
    .vacancies_contact_item {
        width: 99% !important;
        align-items: center;
    }
}

// ----------------Реквизиты---------
@media(max-width: 767px) {
    .requisites_title {
        font-size: 40px;
    }
    .requisites_item_title,
    .requisites_item_subtitle,
    .requisites_item_text {
        font-size: 14px !important;
    }
}

// -----------------Отделения-------------------
@media(max-width: 1200px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 24%;
            p {
                font-size: 16px !important;
            }
        }
    }
}

@media(max-width: 1089px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 23.5%;
            p {
                font-size: 14px !important;
            }
        }
    }
}

@media(max-width: 950px) {
    .display-flex-hospital {
        .card-text-img {
            p {
                font-size: 13px !important;
            }
        }
    }
}

@media(max-width: 850px) {
    .display-flex-hospital {
        .card-text-img {
            p {
                top: 60%;
            }
        }
    }
}

@media(max-width: 767px) {
    .title-depart h1 {
        font-size: 40px;
    }
    .display-flex-hospital {
        .card-text-img {
            max-width: 23%;
        }
    }
}

@media(max-width: 720px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 31.5%;
            p {
                top: 65%;
            }
        }
    }
}

@media(max-width: 615px) {
    .display-flex-hospital {
        .card-text-img {
            p {
                top: 60%;
            }
        }
    }
}

@media(max-width: 570px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 48%;
            p {
                top: 70%;
            }
        }
    }
}

@media(max-width: 450px) {
    .display-flex-hospital {
        .card-text-img {
            p {
                top: 60%;
            }
        }
    }
}

@media(max-width: 410px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 47.5%;
            p {
                top: 60%;
                font-size: 12px !important;
            }
        }
    }
}

@media(max-width: 340px) {
    .display-flex-hospital {
        .card-text-img {
            max-width: 46.5%;
        }
    }
}

@media(max-width: 480px) {
    .title-depart h1 {
        font-size: 28px;
    }
    .title-stacionar h2 {
        font-size: 23px;
    }
    .title-otherdepart h2 {
        font-size: 23px;
    }
}

// -------Общая информация о стационаре----------
// @media(max-width: 767px) {
// .cards {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// }
// -------------Приёмное отделение стационара--------------------
@media(max-width: 450px) {
    .display-flex {
        .cards-for-text {
            h3 {
                font-size: 16px !important;
            }
            span {
                font-size: 9px !important;
            }
            p {
                font-size: 9px !important;
            }
        }
    }
}

// ----------------Запись на приём-------------
@media(max-width: 767px) {
    .appointment_container {
        h2 {
            font-size: 35px !important;
        }
        h3 {
            font-size: 25px !important;
        }
    }
}

// 
// ----------Отзывы----------
@media(max-width: 630px) {
    .reviews_title {
        font-size: 40px;
    }
    .prev,
    .next {
        display: none !important;
    }
}

// ----------------------Портал ГОСУСЛУГИ---------
@media(max-width: 767px) {
    .page_gosuslugi_title {
        font-size: 40px;
    }
    .page_gosuslugi_subtitle {
        font-size: 25px;
    }
}

// ----------------------Результаты СОУТ----------
@media(max-width: 767px) {
    .page_sout_title {
        font-size: 40px;
    }
    .sout_block {
        flex-wrap: wrap !important;
        .sout_item {
            width: 47% !important;
        }
    }
}

@media(max-width: 519px) {
    .page_sout_title {
        font-size: 30px !important;
    }
    .sout_block {
        .sout_item {
            font-size: 12px !important;
            line-height: 18px !important;
        }
    }
}

// -------------------Информация по правам пациентов------------
@media(max-width: 770px) {
    .insurance_organizations_block,
    .tabs_block {
        .block_item {
            width: 48% !important;
        }
    }
}

@media(max-width: 767px) {
    .page_information_title {
        font-size: 40px !important;
        line-height: normal !important;
    }
    .page_information_subtitle {
        font-size: 25px !important;
        line-height: normal !important;
    }
}

@media(max-width: 519px) {
    .page_information_reminder {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        .reminder_content {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }
    .insurance_organizations_block,
    .tabs_block {
        gap: 10px !important;
        .block_item {
            font-size: 12px !important;
        }
    }
}

@media(max-width: 405px) {
    .insurance_organizations_block,
    .tabs_block {
        .block_item {
            font-size: 10px !important;
            height: 10em !important;
            a {
                padding: 10px 0px !important;
            }
        }
    }
}

// -----------------Страница новости--------------
@media(max-width: 1000px) {
    .announcement_body {
        gap: 15px !important;
        .announcement_text {
            p {
                margin-top: 0 !important;
                font-size: 14px !important;
            }
        }
    }
    .important1 {
        .important1_body {
            gap: 15px !important;
            padding-bottom: 0 !important;
            .important1_text {
                p {
                    padding-top: 0 !important;
                    font-size: 14px !important;
                }
            }
        }
    }
    .important2_body {
        gap: 15px !important;
        padding-bottom: 0 !important;
        .important2_text {
            p {
                margin-top: 0 !important;
                font-size: 14px !important;
            }
        }
    }
    .important3_body {
        gap: 15px !important;
        padding-bottom: 10px !important;
        .important3_text {
            p {
                padding-top: 0 !important;
                font-size: 14px !important;
            }
        }
    }
}

@media(max-width: 767px) {
    .page_news_top {
        h2 {
            font-size: 35px !important;
        }
        h3 {
            font-size: 25px !important;
            line-height: 1.5 !important;
        }
    }
    .midel {
        h3 {
            font-size: 25px !important;
        }
    }
    .news {
        h3 {
            font-size: 25px !important;
        }
    }
}

@media(max-width: 560px) {
    .announcement_body,
    .important1_body,
    .important2_body,
    .important3_body {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        .important1_img,
        .important2_img {
            width: 100% !important;
        }
        .announcement_text {
            p {
                margin-bottom: 0!important;
            }
        }
        .important1_text {
            div {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                a {
                    margin-bottom: 10px !important;
                }
            }
        }
        .important3_text {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            p {
                justify-content: center !important;
            }
            div {
                display: flex !important;
                flex-direction: column !important;
                align-items: center !important;
            }
        }
    }
}