@media(max-width: 1200px){
    .header_container,
    .container{
        padding: 0px 10px;
    }

    .header_middle {
        .header_container {
            .site_identification{
                .logo_text-link,
                .header_phone i,
                .header_phone-link,
                .visually_impaired-link{
                    font-size: 16px;
                }

                .header_phone,
                .visually_impaired{
                    margin-left: 0;
                }
            }                
        }
    }

    .header_bottom{
        .header_bottom_menu{
            .menu_list{
                gap: 10px;
            }
        }
    }
    .page_information_container {
        
        input {min-width: 1000px;
            margin: 0 auto;

        }
    }
}

@media(max-width: 1024px){
    .header_top{
        .header_top_menu{
            .menu_list{
                align-items: center;
                gap:20px;
            }
        }

        .header_top_social{
            gap: 15px;
        }
    }

    .header_middle{
        .header_container {
            .site_identification{
                

                .logo_text{
                    width: 154px;

                    .logo_text-link{
                        line-height: 20px;
                    }
                }

                

            }                
        }
    }
    .page_information_container {
        
        input {min-width: 870px;
            margin: 0 auto;

        }
    }
    
}

@media(max-width: 900px){
    .header_bottom{
        .header_bottom_menu{
            .menu_list{
                .menu-item{
                    .menu_link{
                        span{
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .page_gosuslugi {
    .page_gosuslugi_container {
        img {
            width: 95%;
        }
    }
    }
    .page_information_container {
        
        input {min-width: 750px;
            margin: 0 auto;

        }
    }
    
}


