@media(max-width: 1200px) {
    .header_container,
    .container {
        padding: 0px 10px;
    }
    .header_middle {
        .header_container {
            .site_identification {
                .logo_text-link,
                .header_phone i,
                .header_phone-link,
                .visually_impaired-link {
                    font-size: 16px;
                }
                .header_phone,
                .visually_impaired {
                    margin-left: 0;
                }
            }
        }
    }
    .header_bottom {
        .header_bottom_menu {
            .menu_list {
                gap: 10px;
            }
        }
    }
}

@media(max-width: 1260px) {
    .slick-prev {
        display: none !important;
    }
    .slick-next {
        display: none !important;
    }
}

@media(max-width: 1210px) {
    .twise-card {
        img {
            width: 400px;
            height: 300px;
        }
    }
}

@media(max-width: 840px) {
    .twise-card {
        img {
            width: 350px;
            height: 250px;
        }
    }
}

@media(max-width: 1024px) {
    .header_top {
        .header_top_menu {
            .menu_list {
                align-items: center;
                gap: 20px;
            }
        }
        .header_top_social {
            gap: 15px;
        }
    }
    .header_top {
        background-color: $light_blue;
        .header_container {
            gap: 10px;
            .header_top_menu {
                .menu_list {
                    gap: 20px;
                }
            }
        }
    }
    .header_middle {
        .header_container {
            .site_identification {
                .logo_text {
                    width: 154px;
                    .logo_text-link {
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1160px) {
    .header_bottom {
        .header_container {
            .header_bottom_menu {
                .menu_list {
                    gap: 10px;
                    .menu-item {
                        .menu_link {
                            span {
                                font-weight: 500;
                                // font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1040px) {
    .departmens_container {
        .departmens_body {
            gap: 20px;
        }
    }
    .contacts_body {
        .contacts_form {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media(max-width: 1140px) {
    .footer_menu {
        .menu_list {
            span {
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 960px) {
    .footer_menu {
        .menu_list {
            gap: 20px;
        }
    }
}

@media(max-width: 940px) {
    .other_right_column,
    .hospital_left_column {
        width: 50%;
    }
}

.departmens_container .departmens_body .other_right_column .other_office_items_nav {
    list-style: none;
}

@media(max-width: 900px) {
    .header_bottom {
        .header_container {
            .header_bottom_menu {
                .menu_list {
                    .menu-item {
                        .menu_link {
                            span {
                                font-weight: 500;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .departmens_container {
        .departmens_body {
            .other_right_column {
                .other_office_items_nav {
                    width: auto;
                }
            }
        }
    }
    .administration_paycheck {
        padding-left: 12px;
    }
}

// @media(max-width: 900px) {
//     .header_bottom {
//         .header_bottom_menu {
//             .menu_list {
//                 .menu-item {
//                     .menu_link {
//                         span {
//                             font-weight: 500;
//                             font-size: 15px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
@media(max-width: 1140px) {
    .for-flex {
        img {
            margin-left: 10px;
        }
    }
    .announcement_container {
        .announcement_text {
            padding-top: 0px;
        }
    }
}

@media(max-width: 850px) {
    .page_gosuslugi_container {
        img {
            width: 100%;
        }
    }
}

// otdelenia 
@media(max-width: 850px) {
    // .display-flex {
    //     margin-bottom: 100px !important;
    // }
    .display-flex {
        flex-wrap: wrap;
    }
}

//-------- slider important home page 
@media(max-width: 1024px) {
    .slider_background {
        height: 38vw;
    }
}

@media(max-width: 767px) {
    .slider_background {
        height: 70vw;
    }
}

@media(max-width: 1090px) {}
// ------------------------Header мобилка------------------
@media(max-width: 767px) {
    .header_top_social
        {
        display: none !important;
        }
     
}

// ------------------------Главная страница мобилка----------

@media(max-width: 767px) {

    .contacts_body {
        display: flex;
        flex-direction: column;
    }
    .news_body {

    .news_img {
        display: none;
    }
    .contacts_text {
        width: 100%;
        
    }
    }


}

@media(min-width: 767px) {
    .contacts_text {
        margin-right: 68px;
        
    }
}

@media(max-width: 550px) {

        .departmens_body {
        display: flex;
        flex-direction: column;
        .hospital_left_column {
            width: 100%;
        }
        .other_right_column {
            width: 100%;
        }
        }
        .departmens_title-link, .important_information_title-link, .news_title-link, .gallery_title-link, .contacts_title-link {
            // font-family: $font_opensans;
            font-size: 25px !important;
        }
        .hospital_subtitle-link, .other_office_subtitle-link, .fa-brands {
            font-size: 18px !important;
        }
        .hospital_items-link, .other_office_items-link, .news_posts_items-link, .adress_left, .adress_right, .contacts_departs {
            font-size: 14px;
        }
        .slider_background {
            height: 80vw;
        }

}

// ----О больнице-----
@media(max-width: 906px) {
    .block_row{
    .block_item {
       width: 30% !important;
    }
}
}





@media(max-width: 767px) {
        .about_title {
            font-size: 40px;
        }
        .subtitle_top, .subtitle_bottom {
            font-size: 25px;
        }
        .block_row {
        .block_item {
            font-size: 14px;
        }
    }
    }

    @media(max-width: 620px) {
        .block_row {
        .block_item {
            
            width: 48% !important;
        }
    }
    }
    @media(max-width: 450px) {
        .block_row {
        .block_item {
            
            width: 100% !important;
        }
    }
    }






// -----------Администрация------
@media(max-width: 1034px) {
        .block_item {
            font-size: 14px;
        } 
        .administration_paycheck_item {
            width: 32% !important;
        }
        .administration_paycheck {
            padding-left: 0 !important;
        }
    }
    @media(max-width: 907px) {
        .administration_paycheck_item {
            width: 48% !important;
        }
    }



@media(max-width: 767px) {
    .administration_title {
    font-size: 40px;
    }
    .administration_text_subtitle {
        font-size: 25px;
    }
    .administration_text {
        font-size: 14px !important;
    }
    .administration_position_title, .administration_position_name {
        font-size: 22px !important;
    }
}



@media(max-width: 560px) {

    .administration_main {
        display: flex;
        flex-direction: column;
    }
    .administration_main_text {
        margin-left: 15px;
    }

}
@media(max-width: 500px) {

    .administration_position {
        display: flex;
        flex-direction: column;
    }
    .administration_position_content {
        margin-left: 15px;
    }
    .administration_paycheck_item {
        width: 99% !important;
    }
    .administration_title {
        font-size: 35px;
        }

}

// -----------Вакансии----------------

@media(max-width: 1027px) {
    .vacancies_contact_item_top, .vacancies_contact_item_down {
        font-size: 14px !important;

    }
    .block1, .block2, .block3 {
        justify-content: center !important;
    }
}
@media(max-width: 767px) {
    .vacancies_contact_item {
        width: 49% !important;
        display: flex !important;
        flex-direction: column;
        
    }
    .vacancies_title {
        font-size: 40px;
    } 
    .vacancies_block_title {
        font-size: 20px !important;
    }
    .vacancies_block_text {
        font-size: 14px !important;
    }
    .block1 {
        padding: 28px 20px !important;
    }
    .vacancies_data {
        display: none !important;
    }
}
@media(max-width: 519px) {
    .vacancies_contact_item {
        width: 99% !important;
        align-items: center;
    }


}
// ----------------Реквизиты---------
@media(max-width: 767px) {
    .requisites_title {
        font-size: 40px;
    } 
    .requisites_item_title, .requisites_item_subtitle, .requisites_item_text {
        font-size: 14px !important;
    } 
}

// -----------------Отделения-------------------

@media(max-width: 767px) {
    .title-depart h1 {
        font-size: 40px;
    }
}
@media(max-width: 480px) {
    .title-depart h1 {
        font-size: 28px;
    }
    .title-stacionar h2 {
        font-size: 23px;
    }
    .title-otherdepart h2 {
        font-size: 23px;
    }
}


// -------Общая информация о стационаре----------

@media(max-width: 767px) {

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

// ----------------Запись на приём-------------

@media(max-width: 767px) {
    .appointment_title {
        font-size: 40px;
    }
    .important2_body {
        display: flex;
        flex-direction: column;
    }
    .important2_title, .appointment_subtitle2  {
        font-size: 24px;
    } 

    

}
@media(max-width: 450px) {
.important2_img img {
    // width: 100vw !important;
    // min-width: 100vw !important;
    width: 100%;
    }

}

// ----------Отзывы----------
@media(max-width: 630px) {
    .reviews_title {
        font-size: 40px;
    } 
    .prev, .next {
        display: none !important;
    }
}


