$blue: #0400ff;
$light_blue: #E5F2F4;
$font_blue: #055D65;
$header_bg: #45A6AF;
$white: #ffffff;
$red: #E80B8B;
$footer_bg: #03646D;
$footer_text:  #BBDFE3;
$header_social: #055D65;


$font_opensans: 'OpenSans';