@import "reset";
@import "fonts";
@import "all";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_top {
            background-color: $light_blue;
            .header_container {
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                justify-content: space-between;
                .header_top_menu {
                    display: flex;
                    justify-content: space-between;
                    .menu_list {
                        display: flex;
                        gap: 40px;
                        .menu-item {
                            margin-top: 12px;
                            margin-bottom: 12px;
                            span {
                                font-family: $font_opensans;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 16px;
                                display: flex;
                                align-items: center;
                                color: $font_blue;

                            }
                        }
                    }
                }
                .header_top_social {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    i {
                        font-size: 16px;
                        color: $header_social;
                    }
                }

            }
}





// .menutop__list {
//     display: flex;
//     flex-direction: row;
//     gap: 40px;
// }

// .list-links {
// font-family: $font_opensans;
// font-style: normal;
// font-weight: 600;
// font-size: 12px;
// line-height: 16px;
// display: flex;
// align-items: center;
// color: $font-blue;
// margin-top: 12px;
// margin-bottom: 12px;

// }
// .menutop__icon {
//     display: flex;
//     flex-direction: row;
//     align-content: center;
//     gap: 21px;
//     li {
//         display: flex;
//         align-items: center;
//     }
    
// }

// img {
//     height: 15px;
//     width: 15px;
// }

.header_middle {
    .header_container {
        margin: 0 auto;
        max-width: 1200px;
        .site_identification {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            .logo_text-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                display: flex;
                align-items: center;
                color: $red;
            }
            .header_phone {
                display: flex;
                gap: 4px;
                i {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 21px;
                    color: $red;
                    display: flex;
                    align-items: center;

                }
            }
            .header_phone-link, .visually_impaired-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: $red;
            }
            
        }
    }
}



.header_bottom {
background-color: $header_bg;
    .header_container {
        margin: 0 auto;
        max-width: 1200px;
        .header_bottom_menu {
            
            .menu_list {
                 
                margin-top: 0px;
                margin-bottom: 0px;
                display: flex;
                gap: 60px;
                justify-content: space-between;
           
                        .menu-item {
                            margin-top: 18px;
                            margin-bottom: 18px;
                            span {
                                font-family: $font_opensans;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                color: $white;
                            }
                        }
                
            }
        }
    }
}

.footer {
    background-color: $footer_bg;
}    
    
.footer_container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        // gap: 39px;
}        
        
.footer_general {
            display: flex;
            flex-direction: row;
            gap: 8px;
            //align-items: center;
             min-width: 40%;
            .logo_img {
                display: flex;
                margin-top: 60px;
                margin-bottom: 60px;
                //width: 100%;
            }
            .logo_text {
                   display: flex;
                   align-items: center;
                .logo_text-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                /* identical to box height */
                color: $red;
                // display: flex;
                // align-items: center;
                // display: inline-block;
                }
            }
}
.footer_menu {
             display: flex;
             align-items: center;
            // flex-wrap: wrap;


.menu_list {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                // justify-content: flex-end;
                // :nth-child(odd) {margin-right: 7px;
                // }



                // :not(:last-child) {
                //     margin-right: 40px;
                // }
                span {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    /* identical to box height */
                    color: $footer_text;
                
                }
            }
.menu_list:not(:last-child) {
         margin-right: 40px;


// :nth-child(odd) {
//                 margin-right: 10px;
//               }

            }
    
        }

// ----Main-----------------------

.main_banner{

    .banner{
        height: 481px;

        img{
            width: 1200px;
        }

        &.slick-active{
            width: 1200px;
        }
    }

    .main_banner_mob{
        display: none;
    }

    .slick-prev{
        z-index: 1;
        left: 50%;
        transform: translate(-650px, -50%);
    }

    .slick-next{
        z-index: 1;
        right: 50%;
        transform: translate(650px, -50%);
    }

    .slick-prev, .slick-next{
        // background: black;
        color: white;
    }
}

.departments, .news, .important_information, .gallery, .contacts {
    margin-top: 30px;

}
.departmens_container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        
        .departmens_title {
            .departmens_title-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 48px;
                /* identical to box height */

                display: flex;
                align-items: center;

                color: $blue_h2;

            }
        }

        .departmens_body {
            display: flex;
            gap: 122px;
            margin-top: 20px;
            .hospital_left_column {
                min-width: 448px;
                background: $background_blue;
                border-radius: 10px;
                .hospital_subtitle {
                    display: flex;
                    gap: 15px;
                    margin: 26px 0 15px 36px;
                    .hospital_subtitle-link {
                        font-family: $font_opensans;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        // line-height: 33px;
                        display: flex;
                        align-items: center;

                        color: $header_social;
                    }
                }
                
                .hospital_items {
                    margin-left: 36px;
                    // margin-bottom: 16px;

                }
                
                
                .hospital_items_nav  {
                    list-style: none;
                    
                }
                .hospital_items_nav li:before {
                    content:  "— ";
                    position: relative;
                    color: $header_social;
                    
                }
                .hospital_items_nav li {
                    margin-bottom: 12px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    // line-height: 22px;
                    color: $header_social;
                }
                
            }
            .other_right_column {
                min-width: 448px;
                background: $background_blue;
                border-radius: 10px;

                .other_office_subtitle {
                    display: flex;
                    gap: 15px;
                    margin: 26px 0 15px 36px;
                    .other_office_subtitle-link {
                        font-family: $font_opensans;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        // line-height: 33px;
                        display: flex;
                        align-items: center;
                        color: $header_social;
                    }
                }
                .other_office_items {
                    margin-left: 36px;

                }
                .other_office_items_nav {
                    list-style: none;
                }
                .other_office_items_nav li:before {
                    content:  "— ";
                    position: relative;
                    color: $header_social;
                }
                .other_office_items_nav li {
                    margin-bottom: 12px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    // line-height: 22px;
                    color: $header_social;
                }

            }
        }
    }
.important_information_container {
    margin-bottom: 20px;
    .important_information_title {
           .important_information_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;
        }
    }
}
.important_information {
    .slick-prev,
    .slick-next {
        display: none;
    }
}



.news_container {
    margin: 0 auto;
    max-width: 1200px;
    .news_title {
        margin-bottom: 20px;
        .news_title-link {
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            // line-height: 48px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: $blue_h2;
        }
    }
    .news_body {
        display: flex;
        gap: 64px;
        .news_posts {
            display: flex;
            flex-direction: column;
            .news_posts_items {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $border_line;
                font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                
            }
        }
    }
    .news_buttom {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        .news_buttom-link {
            background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
            border-radius: 50px;
            padding: 12px 48px;
            color: $white;
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;

        }
    }
}

.gallery_container {
    margin-bottom: 20px;
    .gallery_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;
    }
}

.contacts_title {
    // margin-bottom: 20px;
    .contacts_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;

    }
}
.contacts_body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    .contacts_text {
        display: flex;
        flex-direction: column;
        .contacts_line1 {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
            gap: 3px;
            .adress_left {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
            .adress_right {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_line2 {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
            gap: 3px;
            .adress_left {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
            .adress_right {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_line3 {
            display: flex;
            .contacts_category-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_departs {
            margin-top: 30px;
            .contacts_posts_items {
                margin-bottom: 15px;
                .contacts_posts_items-link {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    // line-height: 25px;
    
                    color: $header_social;
                }
            }
        }
        .social {
            margin-top: 15px;
            display: flex;
            gap: 15px;
            align-items: center;
            .social_item i {
              color: $header_social;
              font-size: 30px;
            }
        }
    }
    .contacts_form {
        background: $background_cf;
        border-radius: 20px;
        min-width: 422px;
        min-height: 498px;
        display: flex;
        justify-content: center;
        margin-top: 14px;
        .wpcf7 {
            margin-top: 39px;
            margin-bottom: 39px;
            .wpcf7-form {
                .text_cf7_bottom {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    
                    color: $text_cf7bottom;
                    a {
                        color: $text_cf7bottom;
                        text-decoration: underline; 
                    }
                }
                .wpcf7-submit {
                    margin-top: 36px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    // line-height: 19px;
                    text-align: center;
                    font-family: 'Inter';
                    background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
                    border-radius: 50px;
                }
                .wpcf7-form-control-wrap {
                    .wpcf7-list-item {
                        margin: 0;
                        input {
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                            border-radius: 2px;
                        }
                        
                    }
                    
                    
                    

                    .wpcf7-text {
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 5px;
                    margin-bottom: 16px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    color: $text_cf7;
                    padding: 12px 0 13px 14px;
                    }
                }
            }
        }
        .cf7_title {
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            // line-height: 33px;
            // display: flex;
            // align-items: center;
            color: $red;
            margin-bottom: 22px;
        }    
    }
    
}

.about_container {
    display: flex;
    flex-direction: column;
    .about_title {
        margin-top: 28px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        // line-height: 82px;
        /* identical to box height */

        display: flex;
        align-items: center;
        padding: 0;
        color: #013236;
    }
    img {
        width: 100%;
        margin-bottom: 28px;
        }
    .text_top, .text_bottom {
        max-width: 844px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;

        color: #000000;
    } 
    .about_slider_top {
        margin-top: 32px;
        margin-bottom: 32px;
        /* Слайдер */
        .slick-slider{}
        /* Слайдер запущен */
        .slick-slider.slick-initialized{}
        /* Слайдер с точками */
        .slick-slider.slick-dotted{}
        /* Ограничивающая оболочка */
        .slick-list {}
        /* Лента слайдов */
        .slick-track{
            display: flex;
            gap: 15px;
        }
        /* Слайд */
        .slick-slide{}
        /* Слайд активный (показывается) */
        .slick-slide.slick-active{}
        /* Слайд основной */
        .slick-slide.slick-current{}
        /* Слайд по центру */
        .slick-slide.slick-center{}
        /* Клонированный слайд */
        .slick-slide.slick-cloned{}
        /* Стрелка */
        .slick-arrow{}
        /* Стрелка влево */
        .slick-arrow.slick-prev{}
        /* Стрелка вправо */
        .slick-arrow.slick-next{
            display: none;
        }
        /* Стрелка не активная */
        .slick-arrow.slick-disabled{}
        /* Точки (булиты) */
        .slick-dots{}
        .slick-dots li{}
        /* Активная точка */
        .slick-dots li.slick-active{}
        /* Элемент точки */
        .slick-dots li button{}
    }  

    .about_slider_bottom {
       
        /* Слайдер */
        .slick-slider{}
        /* Слайдер запущен */
        .slick-slider.slick-initialized{}
        /* Слайдер с точками */
        .slick-slider.slick-dotted{}
        /* Ограничивающая оболочка */
        .slick-list {}
        /* Лента слайдов */
        .slick-track{
            display: flex;
            justify-content: flex-start;
            gap: 53px;
        }
        /* Слайд */
        .slick-slide{}
        /* Слайд активный (показывается) */
        .slick-slide.slick-active{}
        /* Слайд основной */
        .slick-slide.slick-current{}
        /* Слайд по центру */
        .slick-slide.slick-center{}
        /* Клонированный слайд */
        .slick-slide.slick-cloned{}
        /* Стрелка */
        .slick-arrow{}
        /* Стрелка влево */
        .slick-arrow.slick-prev{}
        /* Стрелка вправо */
        .slick-arrow.slick-next{
            display: none;
        }
        /* Стрелка не активная */
        .slick-arrow.slick-disabled{}
        /* Точки (булиты) */
        .slick-dots{}
        .slick-dots li{}
        /* Активная точка */
        .slick-dots li.slick-active{}
        /* Элемент точки */
        .slick-dots li button{}
    }  



    .subtitle_top, .subtitle_bottom {
        margin-top: 32px;
        margin-bottom: 20px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
    
        color: #000000;
    }
    .block_row {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 32px;
       
        .block_item {
            // min-width: 23%;
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            
            background: #E5F2F4;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            min-width: 289px;
            min-height: 108px;
            a {
                color: #000000;
            }
        }
    } 
}   
.news_prevention_slider {
   /* Слайдер */
   .slick-slider{}
   /* Слайдер запущен */
   .slick-slider.slick-initialized{}
   /* Слайдер с точками */
   .slick-slider.slick-dotted{}
   /* Ограничивающая оболочка */
   .slick-list {}
   /* Лента слайдов */
   .slick-track{
       display: flex;
    //    justify-content: flex-start;
       gap: 15px;
   }
   /* Слайд */
   .slick-slide{}
   /* Слайд активный (показывается) */
   .slick-slide.slick-active{}
   /* Слайд основной */
   .slick-slide.slick-current{}
   /* Слайд по центру */
   .slick-slide.slick-center{}
   /* Клонированный слайд */
   .slick-slide.slick-cloned{}
   /* Стрелка */
   .slick-arrow{}
   /* Стрелка влево */
   .slick-arrow.slick-prev{}
   /* Стрелка вправо */
   .slick-arrow.slick-next{
       display: none;
   }
   /* Стрелка не активная */
   .slick-arrow.slick-disabled{}
   /* Точки (булиты) */
   .slick-dots{}
   .slick-dots li{}
   /* Активная точка */
   .slick-dots li.slick-active{}
   /* Элемент точки */
   .slick-dots li button{}
}  


.page_news_container {
    display: flex;
    flex-direction: column;
    .page_news_title {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        // line-height: 82px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #013236;
        margin-top: 28px;
        margin-bottom: 28px;

    }
    input {
        background: #FFFFFF;
        border: 2px solid #45A6AF;
        border-radius: 50px;
        width: 100%;
        min-height: 71px;
        margin-bottom: 32px;
    
    .button {
        height: 5px;
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        
        // transition: all .1s;
        // transition-delay: .1s;
        }
        // .button:hover {
        // cursor: pointer;
        // }
        }
    ::-webkit-input-placeholder {
        padding-left: 79px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        // line-height: 27px;
        display: flex;
        align-items: center;

        color: #898989;
        
    
    
    }

}

.prevention {
    background: #F2F9FA;
    .prevention_title {
        margin-top: 28px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;
        display: flex;
        align-items: center;

        color: #000000;
    }
    .prevention_slider {
        min-height: 300px;
        margin-bottom: 32px;
    }
}

.announcement_container {
    display: flex;
    flex-direction: column;
    .announcement_title {
        margin-top: 32px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #000000;
    }
    .announcement_body {
        display: flex;
        gap: 44px;
        // .announcement_img {}
        .announcement_text {
            
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            // display: flex;
            // align-items: center;
            padding-top: 48px;
            color: #000000;
            
            li {
                line-height: 2;
            }
        }
    }
}

.important1 {
    background: #FAF2F9;
    margin-top: 32px;
    .important1_title {
        margin-top: 28px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #000000;
    }
    .important1_body {
        display: flex;
        gap: 44px;
        .important1_text {
            display: inline-flex;
            flex-direction: column;
            gap: 24px;
           
            p {
                margin-top: 81px;
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                // display: flex;
                // align-items: center;

                color: #000000;
            }
            a {
                max-width: 203px;
                background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
                border-radius: 50px;
                margin-bottom: 113px;
                padding: 13px 64px;
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                // line-height: 25px;
                /* identical to box height */

                // text-align: center;
                flex-basis: content;
                color: #FFFFFF;
            }
        }
    }
}
.important2_container {
    .important2_title {
        margin-top: 32px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #000000;
    }
    .important2_body {
        display: flex;
        gap: 44px;
        .important2_text {
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            // display: flex;
            // align-items: center;

            color: #000000;
        }
    }
}

.covid {
    background: #F2F9FA;
    margin-top: 32px;
    .covid_container {
        .covid_title {
            margin-top: 28px;
            margin-bottom: 28px;
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            // line-height: 48px;
            /* identical to box height */

            // display: flex;
            // align-items: center;

            color: #000000;
        }
        .covid_body {
            display: flex;
            gap: 44px;
            .covid_text {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                // line-height: 25px;
                /* identical to box height */

                // text-align: center;
                display: flex;
                flex-direction: column;
                color: #000000;
                p {
                    margin-top: 36px;
                }
                a {
                    background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
                    border-radius: 50px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    // line-height: 25px;
                    /* identical to box height */
                    margin-top: 24px;
                    text-align: center;
                    padding: 13px 64px;
                    color: #FFFFFF;
                    max-width: 203px;
                }
            }
        }
    }
}
.othernews {
    margin-bottom: 32px;

.othernews_container {
    .othernews_title {
        margin-top: 32px;
        margin-bottom: 28px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #013236;
    }
    .othernews_wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    .othernews_body {
        display: flex;
        gap: 44px;
        .othernews_text {
            border-top: 1px solid #DCDCDC;
            // border-bottom: 1px solid #DCDCDC;
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */

            text-decoration-line: underline;

            color: #000000;
            p {
                padding-top: 30px;
                padding-bottom: 27px;
                border-bottom: 1px solid #DCDCDC;

            }
        }
        
    }
    a { background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
        border-radius: 50px;
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        // line-height: 25px;
        /* identical to box height */
        // margin-top: 24px;
        text-align: center;
        padding: 13px 48px;
        color: #FFFFFF;
        max-width: 203px;

    }
}
}
}
.page_contacts {
    .page_contacts_container {
        .contacts_title {
            margin-top: 28px;
            margin-bottom: 28px;
        }
        .page_contacts_body {
            display: flex;
            justify-content: space-between;
            margin-bottom: 36px;
            .page_contacts_text {
                display: flex;
                flex-direction: column;
                .contacts_text_top {
                    // margin-top: 28px;
                    margin-bottom: 29px;
                    font-family: $font_opensans;
                    font-style: normal;
                    // font-weight: 700;
                    font-size: 18px;
                    line-height: 50px;

                    color: #013236;

                }
                .contacts_text_bottom {
                    margin-bottom: 36px;
                    ul {
                        list-style-image: url(http://ce40725-wordpress-sxtw3.tw1.ru/wp-content/uploads/2023/05/Group224.png);
                        li {
                            font-family: $font_opensans;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 40px;

                            color: #055D65;
                        }
                       }
                }
                .social {
                    margin-top: 15px;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    .social_item i {
                      color: $header_social;
                      font-size: 30px;
                    }
                }
            }
            .contacts_form {
                background: $background_cf;
                border-radius: 20px;
                min-width: 498px;
                min-height: 422px;
                display: flex;
                justify-content: center;
                margin-top: 14px;
                .wpcf7 {
                    margin-top: 39px;
                    margin-bottom: 39px;
                    .wpcf7-form {
                        .text_cf7_bottom {
                            font-family: $font_opensans;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            
                            color: $text_cf7bottom;
                            a {
                                color: $text_cf7bottom;
                                text-decoration: underline; 
                            }
                        }
                        .wpcf7-submit {
                            margin-top: 36px;
                            font-family: $font_opensans;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            // line-height: 19px;
                            text-align: center;
                            font-family: 'Inter';
                            background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
                            border-radius: 50px;
                            color: #ffffff;
                            padding: 15px 60px 15px 60px;
                        }
                        .wpcf7-form-control-wrap {
                            .wpcf7-list-item {
                                margin: 0;
                                input {
                                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                                    border-radius: 2px;
                                }
                                
                            }
                            
                            
                            
        
                            .wpcf7-text {
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                            border-radius: 5px;
                            margin-bottom: 16px;
                            font-family: $font_opensans;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 20px;
                            color: $text_cf7;
                            padding: 12px 0 13px 14px;
                            }
                        }
                    }
                }
                .cf7_title {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    // line-height: 33px;
                    // display: flex;
                    // align-items: center;
                    color: $red;
                    margin-bottom: 22px;
                }    
            }
            
        
        }
    }
}
@import "adaptive";