@import "reset";
@import "fonts";
@import "all";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_top {
            background-color: $light_blue;
            .header_container {
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                justify-content: space-between;
                .header_top_menu {
                    display: flex;
                    justify-content: space-between;
                    .menu_list {
                        display: flex;
                        gap: 40px;
                        .menu-item {
                            margin-top: 12px;
                            margin-bottom: 12px;
                            span {
                                font-family: $font_opensans;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 16px;
                                display: flex;
                                align-items: center;
                                color: $font_blue;

                            }
                        }
                    }
                }
                .header_top_social {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    i {
                        font-size: 16px;
                        color: $header_social;
                    }
                }

            }
}





// .menutop__list {
//     display: flex;
//     flex-direction: row;
//     gap: 40px;
// }

// .list-links {
// font-family: $font_opensans;
// font-style: normal;
// font-weight: 600;
// font-size: 12px;
// line-height: 16px;
// display: flex;
// align-items: center;
// color: $font-blue;
// margin-top: 12px;
// margin-bottom: 12px;

// }
// .menutop__icon {
//     display: flex;
//     flex-direction: row;
//     align-content: center;
//     gap: 21px;
//     li {
//         display: flex;
//         align-items: center;
//     }
    
// }

// img {
//     height: 15px;
//     width: 15px;
// }

.header_middle {
    .header_container {
        margin: 0 auto;
        max-width: 1200px;
        .site_identification {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            .logo_text-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                display: flex;
                align-items: center;
                color: $red;
            }
            .header_phone {
                display: flex;
                gap: 4px;
                i {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 21px;
                    color: $red;
                    display: flex;
                    align-items: center;

                }
            }
            .header_phone-link, .visually_impaired-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: $red;
            }
            
        }
    }
}



.header_bottom {
background-color: $header_bg;
    .header_container {
        margin: 0 auto;
        max-width: 1200px;
        .header_bottom_menu {
            
            .menu_list {
                 
                margin-top: 0px;
                margin-bottom: 0px;
                display: flex;
                gap: 60px;
                justify-content: space-between;
           
                        .menu-item {
                            margin-top: 18px;
                            margin-bottom: 18px;
                            span {
                                font-family: $font_opensans;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                color: $white;
                            }
                        }
                
            }
        }
    }
}

.footer {
    background-color: $footer_bg;
}    
    
.footer_container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        // gap: 39px;
}        
        
.footer_general {
            display: flex;
            flex-direction: row;
            gap: 8px;
            //align-items: center;
             min-width: 40%;
            .logo_img {
                display: flex;
                margin-top: 60px;
                margin-bottom: 60px;
                //width: 100%;
            }
            .logo_text {
                   display: flex;
                   align-items: center;
                .logo_text-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 29px;
                /* identical to box height */
                color: $red;
                // display: flex;
                // align-items: center;
                // display: inline-block;
                }
            }
}
.footer_menu {
             display: flex;
             align-items: center;
            // flex-wrap: wrap;


.menu_list {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                // justify-content: flex-end;
                // :nth-child(odd) {margin-right: 7px;
                // }



                // :not(:last-child) {
                //     margin-right: 40px;
                // }
                span {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    /* identical to box height */
                    color: $footer_text;
                
                }
            }
.menu_list:not(:last-child) {
         margin-right: 40px;


// :nth-child(odd) {
//                 margin-right: 10px;
//               }

            }
    
        }

// ----Main-----------------------

.main_banner{

    .banner{
        height: 481px;

        img{
            width: 1200px;
        }

        &.slick-active{
            width: 1200px;
        }
    }

    .main_banner_mob{
        display: none;
    }

    .slick-prev{
        z-index: 1;
        left: 50%;
        transform: translate(-650px, -50%);
    }

    .slick-next{
        z-index: 1;
        right: 50%;
        transform: translate(650px, -50%);
    }

    .slick-prev, .slick-next{
        // background: black;
        color: white;
    }
}

.departments, .news, .important_information, .gallery, .contacts {
    margin-top: 30px;

}
.departmens_container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        
        .departmens_title {
            .departmens_title-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 48px;
                /* identical to box height */

                display: flex;
                align-items: center;

                color: $blue_h2;

            }
        }

        .departmens_body {
            display: flex;
            gap: 122px;
            margin-top: 20px;
            .hospital_left_column {
                min-width: 448px;
                background: $background_blue;
                border-radius: 10px;
                .hospital_subtitle {
                    display: flex;
                    gap: 15px;
                    margin: 26px 0 15px 36px;
                    .hospital_subtitle-link {
                        font-family: $font_opensans;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        // line-height: 33px;
                        display: flex;
                        align-items: center;

                        color: $header_social;
                    }
                }
                
                .hospital_items {
                    margin-left: 36px;
                    // margin-bottom: 16px;

                }
                
                
                .hospital_items_nav  {
                    list-style: none;
                    
                }
                .hospital_items_nav li:before {
                    content:  "— ";
                    position: relative;
                    color: $header_social;
                    
                }
                .hospital_items_nav li {
                    margin-bottom: 12px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    // line-height: 22px;
                    color: $header_social;
                }
                
            }
            .other_right_column {
                min-width: 448px;
                background: $background_blue;
                border-radius: 10px;

                .other_office_subtitle {
                    display: flex;
                    gap: 15px;
                    margin: 26px 0 15px 36px;
                    .other_office_subtitle-link {
                        font-family: $font_opensans;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        // line-height: 33px;
                        display: flex;
                        align-items: center;
                        color: $header_social;
                    }
                }
                .other_office_items {
                    margin-left: 36px;

                }
                .other_office_items_nav {
                    list-style: none;
                }
                .other_office_items_nav li:before {
                    content:  "— ";
                    position: relative;
                    color: $header_social;
                }
                .other_office_items_nav li {
                    margin-bottom: 12px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    // line-height: 22px;
                    color: $header_social;
                }

            }
        }
    }
.important_information_container {
    margin-bottom: 20px;
    .important_information_title {
           .important_information_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;
        }
    }
}



.news_container {
    margin: 0 auto;
    max-width: 1200px;
    .news_title {
        margin-bottom: 20px;
        .news_title-link {
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            // line-height: 48px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: $blue_h2;
        }
    }
    .news_body {
        display: flex;
        gap: 64px;
        .news_posts {
            display: flex;
            flex-direction: column;
            .news_posts_items {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $border_line;
                font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                
            }
        }
    }
    .news_buttom {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        .news_buttom-link {
            background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
            border-radius: 50px;
            padding: 12px 48px;
            color: $white;
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;

        }
    }
}

.gallery_container {
    margin-bottom: 20px;
    .gallery_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;
    }
}

.contacts_title {
    // margin-bottom: 20px;
    .contacts_title-link {
        font-family: $font_opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        // line-height: 48px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: $blue_h2;

    }
}
.contacts_body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    .contacts_text {
        display: flex;
        flex-direction: column;
        .contacts_line1 {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
            gap: 3px;
            .adress_left {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
            .adress_right {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_line2 {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
            gap: 3px;
            .adress_left {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
            .adress_right {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_line3 {
            display: flex;
            .contacts_category-link {
                font-family: $font_opensans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                // line-height: 25px;

                color: $blue_h2;
            }
        }
        .contacts_departs {
            margin-top: 30px;
            .contacts_posts_items {
                margin-bottom: 15px;
                .contacts_posts_items-link {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    // line-height: 25px;
    
                    color: $header_social;
                }
            }
        }
        .social {
            margin-top: 15px;
            display: flex;
            gap: 15px;
            align-items: center;
            .social_item i {
              color: $header_social;
              font-size: 30px;
            }
        }
    }
    .contacts_form {
        background: $background_cf;
        border-radius: 20px;
        min-width: 422px;
        min-height: 498px;
        display: flex;
        justify-content: center;
        margin-top: 14px;
        .wpcf7 {
            margin-top: 39px;
            margin-bottom: 39px;
            .wpcf7-form {
                .text_cf7_bottom {
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    
                    color: $text_cf7bottom;
                    a {
                        color: $text_cf7bottom;
                        text-decoration: underline; 
                    }
                }
                .wpcf7-submit {
                    margin-top: 36px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    // line-height: 19px;
                    text-align: center;
                    font-family: 'Inter';
                    background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
                    border-radius: 50px;
                }
                .wpcf7-form-control-wrap {
                    .wpcf7-list-item {
                        margin: 0;
                        input {
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                            border-radius: 2px;
                        }
                        
                    }
                    
                    
                    

                    .wpcf7-text {
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 5px;
                    margin-bottom: 16px;
                    font-family: $font_opensans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    color: $text_cf7;
                    padding: 12px 0 13px 14px;
                    }
                }
            }
        }
        .cf7_title {
            font-family: $font_opensans;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            // line-height: 33px;
            // display: flex;
            // align-items: center;
            color: $red;
            margin-bottom: 22px;
        }    
    }
    
}
@import "adaptive";