@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select,
label {
  margin: 0px;
  padding: 0px;
  font: inherit;
}

hr {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold.woff2") format("woff2"), url("../fonts/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.font_w700_s60 {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font_w700_s35 {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font_w600_s18 {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font_w400_s18 {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top {
  background-color: #E5F2F4;
}
.header_top .header_container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_top .header_container .header_top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_top .header_container .header_top_menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  height: 35px;
}
.header_top .header_container .header_top_menu .menu_list .menu-item {
  margin-top: 12px;
  margin-bottom: 12px;
}
.header_top .header_container .header_top_menu .menu_list .menu-item span {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #055D65;
}
.header_top .header_container .header_top_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top .header_container .header_top_social i {
  font-size: 16px;
  color: #055D65;
}

.header_middle .header_container {
  margin: 0 auto;
  max-width: 1200px;
}
.header_middle .header_container .site_identification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_middle .header_container .site_identification .logo_text-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E80B8B;
}
.header_middle .header_container .site_identification .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.header_middle .header_container .site_identification .header_phone i {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #E80B8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_middle .header_container .site_identification .header_phone-link,
.header_middle .header_container .site_identification .visually_impaired-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #E80B8B;
}
.header_middle .header_container .site_identification .visually_impaired-link {
  letter-spacing: -2px;
}

.header_bottom {
  background-color: #45A6AF;
}
.header_bottom .header_container {
  margin: 0 auto;
  max-width: 1200px;
}
.header_bottom .header_container .header_bottom_menu .menu_list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_bottom .header_container .header_bottom_menu .menu_list .menu-item {
  margin-top: 18px;
  margin-bottom: 18px;
}
.header_bottom .header_container .header_bottom_menu .menu_list .menu-item span {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.footer {
  background-color: #03646D;
}

.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  min-width: 40%;
}
.footer_general .logo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer_general .logo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_general .logo_text .logo_text-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  /* identical to box height */
  color: #E80B8B;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer_menu .menu_list span {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #BBDFE3;
}
.footer_menu .menu_list:not(:last-child) {
  margin-right: 40px;
}

.main_banner .banner {
  height: 481px;
  margin-right: 10px;
}
.main_banner .banner img {
  width: 1200px;
}
.main_banner .banner.slick-active {
  width: 1200px;
}
.main_banner .main_banner_mob {
  display: none;
}
.main_banner .slick-prev {
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-650px, -50%);
          transform: translate(-650px, -50%);
}
.main_banner .slick-next {
  z-index: 1;
  right: 50%;
  -webkit-transform: translate(650px, -50%);
          transform: translate(650px, -50%);
}
.main_banner .slick-prev,
.main_banner .slick-next {
  color: white;
}

.departments,
.news,
.important_information,
.gallery,
.contacts {
  margin-top: 30px;
}

.departmens_container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.departmens_container .departmens_title .departmens_title-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #013236;
}
.departmens_container .departmens_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 122px;
  margin-top: 20px;
}
.departmens_container .departmens_body .hospital_left_column {
  min-width: 448px;
  background: #F2F9FA;
  border-radius: 10px;
}
.departmens_container .departmens_body .hospital_left_column .hospital_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 26px 0 15px 36px;
}
.departmens_container .departmens_body .hospital_left_column .hospital_subtitle .hospital_subtitle-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #055D65;
}
.departmens_container .departmens_body .hospital_left_column .hospital_items {
  margin-left: 36px;
}
.departmens_container .departmens_body .hospital_left_column .hospital_items_nav {
  list-style: none;
}
.departmens_container .departmens_body .hospital_left_column .hospital_items_nav li:before {
  content: "— ";
  position: relative;
  color: #055D65;
}
.departmens_container .departmens_body .hospital_left_column .hospital_items_nav li {
  margin-bottom: 12px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #055D65;
}
.departmens_container .departmens_body .other_right_column {
  min-width: 448px;
  background: #F2F9FA;
  border-radius: 10px;
}
.departmens_container .departmens_body .other_right_column .other_office_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 26px 0 15px 36px;
}
.departmens_container .departmens_body .other_right_column .other_office_subtitle .other_office_subtitle-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #055D65;
}
.departmens_container .departmens_body .other_right_column .other_office_items {
  margin-left: 36px;
}
.departmens_container .departmens_body .other_right_column .other_office_items_nav {
  list-style: none;
}
.departmens_container .departmens_body .other_right_column .other_office_items_nav li:before {
  content: "— ";
  position: relative;
  color: #055D65;
}
.departmens_container .departmens_body .other_right_column .other_office_items_nav li {
  margin-bottom: 12px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #055D65;
}

.important_information_container {
  margin-bottom: 20px;
}
.important_information_container .important_information_title .important_information_title-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #013236;
}

.important_information .slick-prev,
.important_information .slick-next {
  display: none;
}

.news_container {
  margin: 0 auto;
  max-width: 1200px;
}
.news_container .news_title {
  margin-bottom: 20px;
}
.news_container .news_title .news_title-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #013236;
}
.news_container .news_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}
.news_container .news_body .news_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news_container .news_body .news_posts .news_posts_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #DCDCDC;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-top: 27px;
  padding-bottom: 26px;
}
.news_container .news_body .news_posts .news_posts_items1 {
  border-bottom: 1px solid #DCDCDC;
}
.news_container .news_buttom {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news_container .news_buttom .news_buttom-link {
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  padding: 12px 48px;
  color: #ffffff;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.gallery_container {
  margin-bottom: 20px;
}
.gallery_container .gallery_title-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #013236;
}

.contacts_title .contacts_title-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #013236;
}

.contacts_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.contacts_body .contacts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 24px;
}
.contacts_body .contacts_text .contacts_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  gap: 3px;
}
.contacts_body .contacts_text .contacts_line1 .adress_left {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #013236;
}
.contacts_body .contacts_text .contacts_line1 .adress_right {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #055D65;
}
.contacts_body .contacts_text .contacts_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  gap: 3px;
}
.contacts_body .contacts_text .contacts_line2 .adress_left {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #013236;
}
.contacts_body .contacts_text .contacts_line2 .adress_right {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #055D65;
}
.contacts_body .contacts_text .contacts_line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts_body .contacts_text .contacts_line3 .contacts_category-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #013236;
}
.contacts_body .contacts_text .contacts_departs {
  margin-top: 30px;
}
.contacts_body .contacts_text .contacts_departs .contacts_posts_items {
  margin-bottom: 15px;
}
.contacts_body .contacts_text .contacts_departs .contacts_posts_items .contacts_posts_items-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #055D65;
  line-height: 24px;
}
.contacts_body .contacts_text .social {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts_body .contacts_text .social .social_item i {
  color: #055D65;
  font-size: 30px;
}
.contacts_body .contacts_form {
  background: #FAF2F9;
  border-radius: 20px;
  width: 498px;
  height: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}
.contacts_body .contacts_form .contact_form_title {
  color: #E80B8B;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-top: 5px;
  margin-bottom: 22px;
}
.contacts_body .contacts_form .pers_data {
  font-size: 12px;
  color: #013236;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts_body .contacts_form .pers_data a {
  color: #013236;
  text-decoration: underline;
}
.contacts_body input[name=privacy] {
  width: 22px;
  height: 22px;
}
.contacts_body .consent {
  padding-left: 7px;
}
.contacts_body .consent p {
  padding-top: 5px;
}
.contacts_body .wpcf7 {
  margin-top: 39px;
  margin-bottom: 39px;
}
.contacts_body .wpcf7 .wpcf7-form .text_cf7_bottom {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1C3A2C;
}
.contacts_body .wpcf7 .wpcf7-form .text_cf7_bottom a {
  color: #1C3A2C;
  text-decoration: underline;
}
.contacts_body .wpcf7 .wpcf7-form .wpcf7-submit {
  margin-top: 36px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: "Inter";
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  width: 203px;
  height: 50px;
  color: #ffffff;
  border-color: transparent;
}
.contacts_body .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item {
  margin: 0;
}
.contacts_body .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item input {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.contacts_body .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-text {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 16px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #898989;
  padding: 12px 0 13px 14px;
  width: 418px;
  border-color: transparent;
}
.contacts_body .cf7_title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #E80B8B;
  margin-bottom: 22px;
}

.logo_text {
  width: 370px;
}

.site_identification {
  height: 75px;
}
.site_identification .logo_img {
  margin-right: 8px;
}

.site_identification .header_phone {
  margin-left: 37.75px;
}

.site_identification .visually_impaired {
  margin-left: 34px;
}

#menu-main-menu {
  height: 55px;
}

.fanendoscope_img {
  width: 22.75px;
  height: 26px;
  margin-top: 3px;
}

.departmens_body .hospital_items-link {
  color: #055D65;
}

.other_office_items-link {
  color: #055D65;
  line-height: 22px;
}

.other_office_items_nav {
  width: 398px;
}

.other_right_column,
.hospital_left_column {
  width: 488px;
  padding-bottom: 28px;
}

.slick-dots li.slick-active button:before {
  color: #E80B8B !important;
  font-size: 12px;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots {
  height: 7px;
}

.important_information .main_banner .banner {
  height: 351px;
  margin-right: 38.5px;
}
.important_information .main_banner .banner img {
  width: 590px;
  border-radius: 10px;
}
.important_information .main_banner .banner.slick-active {
  width: 590px;
}
.important_information .main_banner .slick-prev {
  display: none;
}
.important_information .main_banner .slick-next {
  display: none;
}

.slider_background {
  height: 481px;
  background: -webkit-gradient(linear, left top, left bottom, from(#69C5CD), color-stop(52.08%, #45A6AF), to(#00616A));
  background: linear-gradient(180deg, #69C5CD 0%, #45A6AF 52.08%, #00616A 100%);
  padding-top: 63px;
}
.slider_background .slider_wrapper {
  width: 1920px;
  margin: 0 auto;
}
.slider_background .slider_wrapper .slick-arrow {
  display: none !important;
}
.slider_background .slick-dots li button:before {
  top: 62px;
}

.news_posts_items li a {
  color: #055D65;
}
.news_posts_items li a:hover {
  /* Новый цвет при наведении */
  color: #E80B8B;
}

.gallery .main_banner .banner {
  height: 328px;
  margin-right: 22px;
}
.gallery .main_banner .banner img {
  width: 491px;
  border-radius: 10px;
}
.gallery .main_banner .banner.slick-active {
  width: 491px;
}
.gallery .main_banner .slick-prev {
  display: none;
}
.gallery .main_banner .slick-next {
  display: none;
}
.gallery .slider_background_gallery {
  height: 470px;
  background: #F2F9FA;
  padding-top: 69px;
}
.gallery .slick-dots {
  display: none !important;
}
.gallery .slick-arrow {
  display: none !important;
}
.gallery .slider_wrapper {
  width: 1920px;
  margin: 0 auto;
}

.plus_img {
  width: 13px;
  height: 13px;
  border-radius: 2px;
}

.contacts_posts_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts_posts_items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts_posts_items-link {
  padding-left: 6px;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about_container .about_title {
  margin-top: 28px;
  margin-bottom: 28px;
  /* identical to box height */
  padding: 0;
  color: #013236;
}
.about_container img {
  width: 100%;
  margin-bottom: 28px;
}
.about_container .text_top,
.about_container .text_bottom {
  max-width: 844px;
  line-height: 25px;
  color: #000000;
}
.about_container .about_slider_top {
  margin-top: 32px;
  margin-bottom: 32px;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.about_container .about_slider_top .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.about_container .about_slider_top .slick-arrow.slick-next {
  display: none;
}
.about_container .about_slider_bottom {
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.about_container .about_slider_bottom .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 53px;
}
.about_container .about_slider_bottom .slick-arrow.slick-next {
  display: none;
}
.about_container .subtitle_top,
.about_container .subtitle_bottom {
  margin-top: 32px;
  margin-bottom: 20px;
  /* identical to box height */
  color: #000000;
}
.about_container .block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-bottom: 32px;
}
.about_container .block_row .block_item {
  line-height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E5F2F4;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 289px;
  min-height: 108px;
}
.about_container .block_row .block_item a {
  color: #000000;
}

.news_prevention_slider {
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.news_prevention_slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.news_prevention_slider .slick-arrow.slick-next {
  display: none;
}
.page_news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page_news_container .page_news_title {
  /* identical to box height */
  color: #013236;
  margin-top: 28px;
  margin-bottom: 28px;
}
.page_news_container input {
  background: #ffffff;
  border: 2px solid #45A6AF;
  border-radius: 50px;
  width: 100%;
  min-height: 71px;
  margin-bottom: 32px;
}
.page_news_container input .button {
  height: 5px;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}
.page_news_container ::-webkit-input-placeholder {
  padding-left: 79px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #898989;
}

.prevention {
  background: #F2F9FA;
}
.prevention .prevention_title {
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 48px;
  color: #000000;
}
.prevention .prevention_slider {
  min-height: 300px;
  margin-bottom: 32px;
}

.announcement_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.announcement_container .announcement_title {
  margin-top: 32px;
  margin-bottom: 28px;
  /* identical to box height */
  color: #000000;
}
.announcement_container .announcement_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.announcement_container .announcement_body .announcement_text {
  line-height: 25px;
  padding-top: 48px;
  color: #000000;
  display: block;
}
.announcement_container .announcement_body .announcement_text li {
  line-height: 2;
}

.important1 {
  background: #FAF2F9;
  margin-top: 32px;
}
.important1 .important1_title {
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 48px;
  /* identical to box height */
  color: #000000;
}
.important1 .important1_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.important1 .important1_body .important1_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.important1 .important1_body .important1_text p {
  margin-top: 81px;
  line-height: 25px;
  color: #000000;
}
.important1 .important1_body .important1_text a {
  max-width: 203px;
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  margin-bottom: 113px;
  padding: 13px 64px;
  /* identical to box height */
  -ms-flex-preferred-size: content;
      flex-basis: content;
  color: #ffffff;
}

.important2_container .important2_title {
  margin-top: 32px;
  margin-bottom: 28px;
  /* identical to box height */
  color: #000000;
}
.important2_container .important2_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.important2_container .important2_body .important2_text {
  line-height: 25px;
  color: #000000;
  display: block;
}

.covid {
  background: #F2F9FA;
  margin-top: 32px;
}
.covid .covid_container .covid_title {
  margin-top: 28px;
  margin-bottom: 28px;
  /* identical to box height */
  color: #000000;
}
.covid .covid_container .covid_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.covid .covid_container .covid_body .covid_text {
  /* identical to box height */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}
.covid .covid_container .covid_body .covid_text p {
  margin-top: 36px;
}
.covid .covid_container .covid_body .covid_text a {
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  /* identical to box height */
  margin-top: 24px;
  padding: 13px 64px;
  color: #ffffff;
  max-width: 203px;
}

.othernews {
  margin-bottom: 32px;
}
.othernews .othernews_container .othernews_title {
  margin-top: 32px;
  margin-bottom: 28px;
  /* identical to box height */
  color: #013236;
}
.othernews .othernews_container .othernews_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.othernews .othernews_container .othernews_wrapper .othernews_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.othernews .othernews_container .othernews_wrapper .othernews_body .othernews_text {
  border-top: 1px solid #DCDCDC;
  line-height: 25px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  display: block;
}
.othernews .othernews_container .othernews_wrapper .othernews_body .othernews_text p {
  padding-top: 30px;
  padding-bottom: 27px;
  border-bottom: 1px solid #DCDCDC;
}
.othernews .othernews_container .othernews_wrapper a {
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  /* identical to box height */
  padding: 13px 48px;
  color: #ffffff;
  max-width: 203px;
}

.page_reviews .page_reviews_container .reviews_title {
  margin: 28px 0 28px 0;
}
.page_reviews .page_reviews_container .reviews_cf7 {
  background: #FAF2F9;
  border-radius: 20px;
  max-width: 844px;
  min-height: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}
.page_reviews .page_reviews_container .reviews_cf7 .contact_form_title {
  color: #E80B8B;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 24px;
  margin: 39px 0 28px 40px;
}
.page_reviews .page_reviews_container .reviews_cf7 .pers_data {
  margin-left: 40px;
  font-size: 12px;
  color: #013236;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page_reviews .page_reviews_container .reviews_cf7 .pers_data a {
  color: #013236;
  text-decoration: underline;
}
.page_reviews .page_reviews_container .reviews_cf7 .pers_data .wpcf7-list-item {
  margin: 0 7px 0 0;
}
.page_reviews .page_reviews_container .reviews_cf7 .pers_data .wpcf7-list-item input {
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 22px;
  height: 22px;
}
.page_reviews .page_reviews_container .reviews_cf7 .pers_data .consent {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #1C3A2C;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .text_cf7_bottom {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1C3A2C;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .text_cf7_bottom a {
  color: #1C3A2C;
  text-decoration: underline;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-submit {
  margin: 36px 0 0 40px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: "Inter";
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  width: 203px;
  height: 50px;
  color: #ffffff;
  border-color: transparent;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control::-webkit-input-placeholder {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #898989;
  padding: 12px 0 0 14px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control::-moz-placeholder {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #898989;
  padding: 12px 0 0 14px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control:-ms-input-placeholder {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #898989;
  padding: 12px 0 0 14px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control::-ms-input-placeholder {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #898989;
  padding: 12px 0 0 14px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control::placeholder {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #898989;
  padding: 12px 0 0 14px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-text {
  margin: 0 40px 16px 40px;
  min-width: 764px;
  min-height: 45px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.page_reviews .page_reviews_container .wpcf7 .wpcf7-form .wpcf7-form-control-wrap textarea {
  margin: 0 40px 26px 40px;
  min-width: 764px;
  max-height: 90px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.page_reviews .page_reviews_container .cf7_title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #E80B8B;
  margin-bottom: 22px;
}
.page_reviews .page_reviews_container .reviews_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  margin-bottom: 32px;
}
.page_reviews .page_reviews_container .reviews_column .reviews_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  border: 1px solid #BBDFE3;
  border-radius: 10px;
}
.page_reviews .page_reviews_container .reviews_column .reviews_item .reviews_item_title {
  margin: 27px 0 0 40px;
}
.page_reviews .page_reviews_container .reviews_column .reviews_item .reviews_item_text {
  margin: 0 40px 26px 40px;
  line-height: 25px;
}
.page_reviews .page_reviews_container .reviews_href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
}
.page_reviews .page_reviews_container .reviews_href .page1 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%), linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_reviews .page_reviews_container .reviews_href .page1 a {
  color: #ffffff;
}
.page_reviews .page_reviews_container .reviews_href .page2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_reviews .page_reviews_container .reviews_href .page3 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_reviews .page_reviews_container .reviews_href .page4 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_reviews .page_reviews_container .reviews_href .page5 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_reviews .page_reviews_container .reviews_href .page_next {
  background: linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%), linear-gradient(40.37deg, #E80B8B 0%, #FF8ED0 100%);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page_reviews .page_reviews_container .reviews_href .reviews_page {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #E80B8B;
}
.page_reviews .page_reviews_container .reviews_href .reviews_page_next {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: 0 52px 0 55px;
}/*# sourceMappingURL=style.css.map */